@model FeatureFlags.Core.ViewModels.UserCreateViewModel
@using FeatureFlags.Core.Helpers.TagHelpers

@{
    ViewData["Title"] = "Create";
}

<h1 class="display-6 fw-bold mb-4">Create</h1>

<form asp-action="Create">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <div class="row">
        <div class="col-md-6 mb-3">
            <div class="form-group">
                <label asp-for="Username"></label>
                <input asp-for="Username" class="form-control" />
                <span asp-validation-for="Username" class="text-danger"></span>
            </div>
        </div>

        <div class="col-md-6 mb-3">
            <div class="form-group">
                <label asp-for="Email"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
        </div>
    </div>

    @Html.EnumCheckboxesFor(model => model.Flags, Model.Flags, "mb-3", false)

    <div class="form-group mt-4">
        <button type="submit" class="btn btn-success">Create</button>
        <a asp-action="Index" class="btn btn-secondary">Back</a>
    </div>
</form>